<DOCTYPE html>
<html>
  <head>
    <title>Pirate!</title>
  </head>
  <body>
    <form method="POST" action="/pirates">
    <h3>Pirate</h3>

    <p><label for="pirate[name]"> Pirate's Name: </label>
    <input type="text" id="pirate[name]" name="pirate[name]"></p>

    <p><label for="pirate[height]"> Pirate's Height: </label>
    <input type="text" id="pirate[height]" name="pirate[height]"></p>

    <p><label for="pirate[weight]"> Pirate's Weight: </label>
    <input type="text" id="pirate[weight]" name="pirate[weight]"></p>

    </form>
  </body>
</html>
  
